<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/news.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">NEWS</h5>
    <p class="card-text">These are the highlights of the News this morning.</p>
    <a href="#" class="btn btn-primary grey darken-4">Open Modal</a>
  </div>
</div>
