<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <div class="logo">
        <h1 class="marker">Blitzkreig!</h1>
        <h2 class="marker col-sml-12">Siege the Day!!</h2>
        <img src="/images/sun1.png" class="sun" alt="">
        </div>

        <h3>Login</h3>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-username">Username</label>
            <input type="text" id="example-text username" class="form-control" aria-describedby="example-text"
              placeholder="Enter Username">
          </div>
          <div class="form-group">
            <label for="example-password">Password</label>
            <input class="form-control" type="password" id="example-description password" aria-describedby="example-description"
              placeholder="Enter Password">
          </div>
          <button id="submit" class="btn btn-primary float-right grey darken-4">Submit</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
          <div>
            <span class="createAcct"><a href="/preferences">Create an account?</a></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
