<div id="profile col-s12">
  <div class="container userProfile">
    <div class="row">
      <div class="col-s12">
        <h2 class="marker text-center"> Blitzkreig! Seige the Day! <img src="/images/tankProfileImg.png" alt="profile"
            class="profile"></h2>
        <h3 class="welcome">Welcome <span class="un">{{userName}} !</span></h3>
      </div>
    </div>
    <div class="row">
      <div class="col s6 m6 l6">
        {{#if weather}}
        {{> widgets/weather-block weatherDetails=weatherDetails}}
        {{/if}}
      </div>

      <div class="col s6 m6 l6">
        {{#if traffic}}
        {{> widgets/traffic-block zipCode=zipCode}}
        {{/if}}
      </div>
    </div>

    <div class="row">
      <div class="col s6 m6 l6">
        {{#if news}}
        {{> widgets/news-block titles=titles articles=articles}}
        {{/if}}
      </div>

      <div class="col s9 m6 l6">
        {{#if quotes}}
        {{> widgets/quote-block quotes=quote}}
        {{/if}}
      </div>

    </div>
        <div class="row">
      <div class="col s6 m6 l6">
        {{#if jobs}}
        {{> widgets/jobs-block}}
        {{/if}}
      </div>

    </div>


  </div>

</div>


<script src="/js/userProfile.js"></script>
<script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13,
      center: { lat: 40.730793, lng: -74.166783 }
    });

    var trafficLayer = new google.maps.TrafficLayer();
    trafficLayer.setMap(map);
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4GvQEVUhN2cbBZvQ1ObqGmRnup1mXPyA&callback=initMap">
  </script>
