<div id="profile col-s12">
  <div class="container userProfile">
    <div class="row">
      <div class="col-s12">
        <h2 class="marker text-center"> Blitzkreig! Seige the Day! <img src="/images/tankProfileImg.png" alt="profile" class="profile"></h2>
        <h3>Welcome User <span class="member-name"></span></h3>

      {{log dataValues}}
      {{log weather}}
      {{log dataValues.weather}}

        {{log this}}

        <div class="col s9 offset-s3">
          {{!-- {{#each blitzdb}}
          {{#if weather}} --}}
          {{> widgets/weather-block }}
          {{!-- {{/if}}
          {{/each}} --}}
        </div>

        <div class="col s9 offset-s3">
          {{!-- {{#each blitzdb}}
          {{#if traffic}} --}}
          {{> widgets/traffic-block}}
          {{!-- {{/if}}
          {{/each}} --}}
        </div>

        <div class="col s9 offset-s3">
          {{!-- {{#each blitzdb}}
          {{#if news}} --}}
          {{> widgets/news-block}}
          {{!-- {{/if}}
          {{/each}} --}}
        </div>

        <div class="col s9 offset-s3">
          {{!-- {{#each blitzdb}}
          {{#if quote}} --}}
          {{> widgets/quote-block}}
          {{!-- {{/if}}
          {{/each}} --}}
        </div>


      </div>
    </div>
  </div>
</div>

<script src="/js/userProfile.js"></script>
