<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/sun1.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Quote of the Day</h5>
    <p class="card-text">Hello Hello!  Fun Quotes to start your day!</p>
    <a href="#" class="btn btn-primary grey darken-4">Open Modal</a>
  </div>
</div>
