{{!-- <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/weather.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">WEATHER</h5>
    <p class="card-text">Grab your Sunnies! It's beautiful out!</p>
    <a href="#" class="btn btn-primary grey darken-4">Open Modal</a>
  </div>
</div> --}}

<h1>WEATHER</h1>
