.list-group-item {
  line-height: 2.5;
}
.marker{
  font-family: 'Permanent Marker', cursive;
  line-height: 20px;
}
.sun{
  height: 200px;
}
.registerbtn{
  margin: 10px;
}
body{
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}
@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
.col-6{
  padding:0px !important;
}

.flex-center {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  align-items: center;
  -webkit-align-items: center; /* Safari 7.0+ */
  justify-content: center;
  -webkit-justify-content: center; /* Safari 6.1+ */
}
.switchContainer {
  margin:0px;
  padding:0px;
}
.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #616161 !important;
}
.switch label input[type=checkbox]:checked+.lever {
  background-color: #424242 !important;
}
