.list-group-item {
  line-height: 2.5;
}
.marker{
  font-family: 'Permanent Marker', cursive;
  line-height: 20px;
}
.sun{
  height: 200px;
}
.logo{
  align-items: center;
  text-align: center;
}
.registerbtn{
  margin: 10px;
}
body{
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  background: url("/images/funky-lines.png");

}
@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
.col-6{
  padding: 0px !important;
}
.firstN{
  padding-right: 15px !important;
}
.switchContainer {
  margin:0px;
  padding:0px;
}
.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #616161 !important;
}
.switch label input[type=checkbox]:checked+.lever {
  background-color: #424242 !important;
}
.profile{
  border-radius: 50%;
  height: 80px;
  /* margin-left: 50px; */
  opacity: 0.3;
  border: dashed 1px #616161;
}
.loginPage{
  background-color: white;
  border-left: 10px solid black;
  border-right: 10px solid  #fed913;
  padding-bottom: 50px;
  border-radius: 10%;
}
.preferences{
  background-color: white;
  padding-bottom: 50px;
  padding-top: 5px;
  border-radius: 7%;
  border-left: 4px solid #42424276;
  border-right: 4px solid  #fedb1379;
}
.userProfile{
  background-color: white;
  padding-bottom: 50px;
  padding-top: 5px;
  border-radius: 7%;
  border-left: 4px solid #42424276;
  border-right: 4px solid  #fedb1379;
}
.card{
  border-radius: 10%;
}
.bold{
  font-weight: bolder;
  font-size: 155%;
  text-align: center;
}
.skinny{
  font-weight: normal;
}
.welcome{
  text-align: center;
  font-weight: bold;

}
.un{
  font-style: italic;
}
